<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog Project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://nlog Project.org/schemas/NLog.xsd http://nlog Project.org/schemas/NLog.xsd">

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="Logs/logfile_${date:format=yyyy-MM-dd}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=ToString,StackTrace}${newline}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>
